.css-editor {
	&:not(.hover) {
		margin-top: 12px;
	}
	span {
		&:focus {
			outline: none;
		}
	}
	&__properties {
		max-height: 140px;
		overflow: auto;
	}
	span {
		vertical-align: middle;
	}
	&__color-preview {
		height: 13px;
		width: 13px;
		margin-right: 3px;
		border: 1px solid rgba(4, 4, 4, 0.3);
		display: inline-block;
	}
	&__css-key, &__semicolon, .add-form__key {
		color: #80cbc4;
	}
	&__separator {
		color: #89ddff;
		margin-right: 6px;
    margin-left: 2px;
	}
	&__css-value, .add-form__value {
		color: #fd9170;
	}
}