.css-editor {
	span {
		&:focus {
			outline: none;
		}
	}
	&__properties {
		max-height: 140px;
		overflow: auto;
	}
	span {
		vertical-align: middle;
	}
	&__css-key, &__semicolon, .add-form__key {
		color: #80cbc4;
	}
	&__separator {
		color: #89ddff;
		margin-right: 6px;
    margin-left: 2px;
	}
	&__css-value, .add-form__value {
		color: #fd9170;
	}
}