@mixin slideTransition($name, $translate) {
	.slide-#{$name}-enter-active,
	.slide-#{$name}-leave-active {
	  transition: all 500ms ease;
	}
	.slide-#{$name}-enter-from,
	.slide-#{$name}-leave-to {
	  transform: translateX($translate);
	  opacity: 0;
	}
}

@include slideTransition('right', 100%);
@include slideTransition('left', -100%);

.button-icon {
  color: var(--text-light);
  &:focus {
    outline: none;
  }
  &.active {
    color: var(--primary);
  }
}

.edit-element {	
	position: fixed;
	right: 30px;
	top: 30px;
	z-index: 9999;
	width: 300px;
  &__menu, &__content {
	  border-radius: var(--rounded-lg);
    overflow: hidden;
    box-shadow: 0 8px 40px -5px rgba(0,0,0,.09);
    background-color: var(--bg-default);
	  padding: var(--spacing-4);
  }
  &__content {
  	min-height: 250px;
  }
  &__menu {
    margin-bottom: var(--spacing-3);
    display: flex;
    color: var(--text-light);
    .icons {
      flex: 1;
    }
    .mdi-icon {
      height: 22px;
      width: 22px;
      cursor: pointer;
    }
    .close:hover {
      color: var(--danger);
    }
  }
}

.edit-attributes {
	.attribute {
		display: flex;
		align-items: center;
		margin-bottom: var(--spacing-3);
		&__delete-btn {
			background-color: transparent;
		}
		&__key {
			width: 40%;
			text-transform: capitalize;
		}
		&__value {
			&:focus {
				outline: none;
			}
			width: 60%;
			background-color: var(--bg-light);
			border-radius: var(--rounded);
			padding: var(--spacing-2) var(--spacing-3);
			margin: 0 var(--spacing-2);
			border: 1px solid rgba(255, 255, 255, 0.05);
		}
	}
}