$directions: ('top', 'right', 'bottom', 'left');

.popper {
	&__element-selector {
		font-weight: 600;
    font-size: 16px;
		.tag {
			color: var(--danger);
		}
		.id {
			color: var(--primary);
		}
		.classes {
			color: var(--primary-light);
		}
	}
  &__font {
    margin-bottom: var(--spacing-2);
  }
	&__margin, &__padding, &__size {
		background-color: rgba(66, 153, 225, 0.3);
		border-radius: var(--rounded-lg);
	}
	&__margin, &__padding {
		padding: var(--spacing-8) var(--spacing-10);
	}
	&__margin {
		position: relative;
		height: 160px;
		.text {
			position: absolute;
			top: 5px;
			left: 10px;
			font-size: 12px;
		}
		@each $direction in $directions {
			.#{$direction} {
				#{$direction}: 5px;
			}
		}
	}
	&__padding {
		position: relative;
		height: 100%;
	}
	&__size {
		height: 100%;
		display: flex;
	  justify-content: center;
	  align-items: center;
	}
  &__info {
    font-size: 13px;
    margin-top: var(--spacing-2);
    color: var(--text-light);
  }
}