.color-card {
  &__text,
  &__copy-text {
    transition: all 250ms ease;
    transform: translateY(15px);
  }
  &:hover {
    .color-card__copy-text {
      visibility: visible;
      opacity: 0.75;
    }
    .color-card__text,
    .color-card__copy-text {
      transform: translateY(0px);
    }
  }
}
