@import './tailwind.scss';
@import './_codeflask.scss';
@import './_website-palettes.scss';
@import './_tooltip.scss';

.global-css {
  .codeflask {
    height: 250px !important;
  }
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.horizontal-center {
  &.top {
    top: 5px;
  }
  &.bottom {
    bottom: 5px;
  }
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.vertical-center {
  &.left {
    left: 5px;
  }
  &.right {
    right: 5px;
  }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scroll {
  &::-webkit-scrollbar {
    width: 7px;
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.zoom-enter-active,
.zoom-leave-active {
  transition: all 300ms ease;
}
.zoom-enter-from,
.zoom-leave-to {
  transform: scale(0.7);
  transform-origin: top center;
  opacity: 0;
}

// @mixin slideTransition($name, $translate) {
//   .slide-#{$name}-enter-active,
//   .slide-#{$name}-leave-active {
//     transition: all 500ms ease;
//   }
//   .slide-#{$name}-enter-from,
//   .slide-#{$name}-leave-to {
//     transform: translateX($translate);
//     opacity: 0;
//   }
// }

// @include slideTransition('right', 100%);
// @include slideTransition('left', -100%);
