@import './_css-editor.scss';
@import './_codeflask.scss';

:host {
  @apply text-default;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

* {
  border-color: rgba(255, 255, 255, 0.15) !important;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.horizontal-center {
  &.top {
    top: 5px;
  }
  &.bottom {
    bottom: 5px;
  }
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.vertical-center {
  &.left {
    left: 5px;
  }
  &.right {
    right: 5px;
  }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scroll {
	&::-webkit-scrollbar {
	  width: 7px;
	  height: 9px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.15);
  	border-radius: 8px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
}