@import "vue-prism-editor/dist/prismeditor.min.css";
@import "../base/prism-onedark.css";
@import "../base/tailwind.css";
@import "../base/transitions.css";

.app {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
  color: white;
}

.my-editor {
  font-family: 'Fira Code', monospace;
  color: #ABB2BF;
  font-size: 15px;
  line-height: 1.5;
  padding: 5px;
  min-height: 70px;
}

.prism-editor__textarea:focus {
  outline: none;
}

.color-card .color-card__text,
.color-card .color-card__copy-text {
  transition: all 250ms ease;
  transform: translateY(12px);
}
.color-card:hover .color-card__text,
.color-card:hover .color-card__copy-text {
  transform: translateY(0);
}
.color-card:hover .color-card__copy-text {
  opacity: 1;
  visibility: visible;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.horizontal-center.top {
  top: 5px;
}

.horizontal-center.bottom {
  bottom: 5px;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-center.left {
  left: 5px;
}

.vertical-center.right {
  right: 5px;
}

.app-element {
  position: fixed;
  z-index: 9999;
  top: 1.5rem;
  backdrop-filter: blur(10px);
}

.app-element .edit-element {
  --tw-bg-opacity: 0.94;
  min-height: 500px;
  width: 310px;
  max-height: calc(100vh - 3rem);
}

.image-card {
  background-image: url('../../images/background.png');
}
.image-card .image-card__meta {
  transition: transform 250ms ease;
  transform: translateY(100%);
}
.image-card .image-card__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-card:hover .image-card__meta {
  transform: translateY(0); 
}